set -ux

: $GFDOCKER_PRIMARY_USER

cd ~/gfarm/regress/manual/lib/libgfarm/gfarm/gfs_pio_failover
cp gfmd-failover-local.gfservice.sh gfmd-failover-local.sh
make
gfmkdir /tmp
gfchmod 777 /tmp
gfgroup -a -m gfarmroot "$GFDOCKER_PRIMARY_USER"
./test-all.sh auto
gfgroup -r -m gfarmroot "$GFDOCKER_PRIMARY_USER"
