Source: gfarm
Section: devel
Priority: optional
Maintainer: Yasuhito Takamiya <takamiya@matsulab.is.titech.ac.jp>
Build-Depends: debhelper (>> 3.0.0), libreadline4-dev
Standards-Version: 3.5.2

Package: gfarm-server
Architecture: i386
Depends: ${shlibs:Depends}
Description: The gfarm server.
 The gfarm server.

Package: gfarm-client
Architecture: i386
Depends: ${shlibs:Depends}
Description: The gfarm client.
 The gfarm client.

Package: gfarm-fsnode
Architecture: i386
Depends: ${shlibs:Depends}
Description: The gfarm fsnode.
 The gfarm fsnode.

Package: libgfarm-dev
Architecture: i386
Depends: ${shlibs:Depends}
Description: Development files for the gfarm.
 Development files for the gfarm. 

Package: gfarm-doc
Architecture: all
Depends: ${shlibs:Depends}
Description: Documents for the gfarm.
 Documents for the gfarm. 
