#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=2

# This has to be exported to make some magic below work.
export DH_OPTIONS

export CC=gcc

CLIENT_PKG = gfarm-client
GFRONT_PKG = gfarm-gfront
DOC_PKG = gfarm-doc
GFPTOOL_PKG = gfarm-gfptool
GFARMD_PKG = gfarmd
GFMD_PKG = gfmd
GFSD_PKG=gfsd
LIBGFARM_DEV_PKG = libgfarm-dev

CLIENT_GSI_PKG = gfarm-gsi-client
GFPTOOL_GSI_PKG = gfarm-gsi-gfptool
GFMD_GSI_PKG = gfmd-gsi
GFSD_GSI_PKG=gfsd-gsi
DEV_GSI_PKG = libgfarm-gsi-dev

GFARM_GFPTOOL_MAN1=gfgrep.1
GFMD_MAN8=gfmd.8
GFARM_CLIENT_MAN1=digest.1 gfexport.1 gfimport_fixed.1 gfimport_text.1 gfkey.1 gfmpirun_p4.1 gfps.1 gfrcmd.1 gfreg.1 gfrep.1 gfrm.1 gfrsh.1 gfrun.1 gfsched.1 gfssh.1 gfstat.1 gfwhere.1 gfwhoami.1 gfhost.1 gfls.1 gfcd.1 gfmkdir.1 gfpwd.1 gfrmdir.1 gfsetdir.1
GFRONT_MAN1=gfront.1
GFSD_MAN1=gfexec.1
GFSD_MAN8=gfsd.8
LIBGFARM_DEV_MAN3=gfarm_initialize.3 gfarm_strings_free_deeply.3 gfarm_terminate.3 gfarm_url_hosts_schedule.3 gfs_chdir.3 gfs_chmod.3 gfs_closedir.3 gfs_opendir.3 gfs_glob.3 gfs_glob_add.3 gfs_glob_free.3 gfs_glob_init.3 gfs_pio_close.3 gfs_pio_create.3 gfs_pio_eof.3 gfs_pio_error.3 gfs_pio_flush.3 gfs_pio_getc.3 gfs_pio_getline.3 gfs_pio_gets.3 gfs_pio_open.3 gfs_pio_putc.3 gfs_pio_putline.3 gfs_pio_puts.3 gfs_pio_read.3 gfs_pio_readdelim.3 gfs_pio_readline.3 gfs_pio_seek.3 gfs_pio_set_local.3 gfs_pio_set_view_index.3 gfs_pio_set_view_local.3 gfs_pio_ungetc.3 gfs_pio_write.3 gfs_readdir.3 gfs_stat.3 gfs_stat_free.3 gfs_unlink.3 gfs_utimes.3

CONFIGURE = ../configure --srcdir=$(PWD) --with-openldap=/usr --with-mpi=/usr --prefix=/usr --libexecdir=/usr/lib/gfarm

configure: configure-stamp
configure-stamp:
	dh_testdir
# Add here commands to configure the package.
	-rm -rf ns/
	install -d build && cd build && $(CONFIGURE)
	install -d build_gsi && cd build_gsi && $(CONFIGURE) --with-globus=/usr/grid --with-globus-flavor=gcc32dbg

	ln -s $(CLIENT_PKG).install  debian/$(CLIENT_GSI_PKG).install
	ln -s $(GFPTOOL_PKG).install  debian/$(GFPTOOL_GSI_PKG).install
	ln -s $(GFMD_PKG).install  debian/$(GFMD_GSI_PKG).install
	ln -s $(GFSD_PKG).install  debian/$(GFSD_GSI_PKG).install
	ln -s $(LIBGFARM_DEV_PKG).install  debian/$(DEV_GSI_PKG).install

	ln -s $(GFMD_PKG).conffiles  debian/$(GFMD_GSI_PKG).conffiles
	ln -s $(GFSD_PKG).conffiles  debian/$(GFSD_GSI_PKG).conffiles

	ln -s $(CLIENT_PKG).manpages debian/$(CLIENT_GSI_PKG).manpages
	ln -s $(GFPTOOL_PKG).manpages debian/$(GFPTOOL_GSI_PKG).manpages
	ln -s $(GFMD_PKG).manpages debian/$(GFMD_GSI_PKG).manpages
	ln -s $(GFSD_PKG).manpages debian/$(GFSD_GSI_PKG).manpages
	ln -s $(LIBGFARM_DEV_PKG).manpages debian/$(DEV_GSI_PKG).manpages

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

# Add here commands to compile the package.
	cd build && $(MAKE)
	cd build_gsi && $(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

# Add here commands to clean up after the build process.
#	-cd build && $(MAKE) distclean
#	-cd build_gsi && $(MAKE) distclean
	-rm -f configure-stamp
	-rm -rf build build_gsi
	find . -name '*.o' -o -name '_libs' -o -name '*.lo' -o -name '*.a' -o -name '.deps' | xargs rm -rf 
	-rm -rf debian/tmp_gsi debian/tmp_nogsi

	rm -f debian/$(CLIENT_GSI_PKG).install
	rm -f debian/$(GFPTOOL_GSI_PKG).install
	rm -f debian/$(GFMD_GSI_PKG).install
	rm -f debian/$(GFSD_GSI_PKG).install
	rm -f debian/$(DEV_GSI_PKG).install

	rm -f debian/$(GFMD_GSI_PKG).conffiles
	rm -f debian/$(GFSD_GSI_PKG).conffiles

	rm -f debian/$(CLIENT_GSI_PKG).manpages
	rm -f debian/$(GFPTOOL_GSI_PKG).manpages
	rm -f debian/$(GFMD_GSI_PKG).manpages
	rm -f debian/$(GFSD_GSI_PKG).manpages
	rm -f debian/$(DEV_GSI_PKG).manpages

#### FIEXME
	rm -f debian/gf{s,m}d-gsi.p*

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# Add here commands to install the package into debian/tmp.
	cd build && $(MAKE) install prefix=`pwd`/../debian/tmp/usr \
	  default_libexecdir=`pwd`/../debian/tmp/usr/lib/gfarm
	cd build_gsi && $(MAKE) install prefix=`pwd`/../debian/tmp_gsi/usr \
	  default_libexecdir=`pwd`/../debian/tmp_gsi/usr/lib/gfarm

	rm -f  debian/tmp/usr/share/doc/gfarm/LICENSE
	mv debian/tmp/usr/share/doc/gfarm  debian/tmp/usr/share/doc/gfarm-doc

#	for tmp_dir in tmp tmp_gsi; do \
#	  install -d debian/$$tmp_dir/usr/lib/gfarm/; \
#	  mv debian/$$tmp_dir/usr/libexec/* debian/$$tmp_dir/usr/lib/gfarm/; \
#	done

# hoax gfarm's Makefile.
	for tmp_dir in tmp tmp_gsi; do \
	  install -d debian/$$tmp_dir/etc/init.d/; \
	  install -m 444 doc/conf/gfarm.conf debian/$$tmp_dir/etc/; \
	  install -d debian/$$tmp_dir/usr/share/doc/gfarm/; \
	  install debian/gfsd.init debian/$$tmp_dir/etc/init.d/; \
	  mv debian/$$tmp_dir/etc/init.d/gfsd.init debian/$$tmp_dir/etc/init.d/gfsd; \
	  install debian/gfmd.init debian/$$tmp_dir/etc/init.d/; \
	  mv debian/$$tmp_dir/etc/init.d/gfmd.init debian/$$tmp_dir/etc/init.d/gfmd; \
	done

	dh_install -p$(CLIENT_PKG)
	dh_install -p$(GFRONT_PKG)
	dh_install -p$(DOC_PKG)
	dh_install -p$(GFPTOOL_PKG)
	dh_install -p$(GFMD_PKG)
	dh_install -p$(GFSD_PKG)
	dh_install -p$(LIBGFARM_DEV_PKG)

	mv debian/tmp debian/tmp_nogsi
	mv debian/tmp_gsi debian/tmp

	dh_install -p$(CLIENT_GSI_PKG)
	dh_install -p$(GFPTOOL_GSI_PKG)
	dh_install -p$(GFMD_GSI_PKG)
	dh_install -p$(GFSD_GSI_PKG)
	dh_install -p$(DEV_GSI_PKG)
#	-dh_movefiles

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
# Need this version of debhelper for DH_OPTIONS to work.
	dh_testversion 1.1.17
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
# dh_suidregister
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
# Pass -a to all debhelper commands in this target to reduce clutter.
# binary-arch: DH_OPTIONS=-a
binary-arch: build install
# Need this version of debhelper for DH_OPTIONS to work.
	dh_testversion 1.1.17
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples -pgfmd
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
	dh_installinit
#	dh_installcron

# manpages for gfarm package
	for pkg in $(GFPTOOL_PKG) $(GFPTOOL_GSI_PKG); do \
	dh_installman -p$$pkg; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	for man in $(GFARM_GFPTOOL_MAN1); do \
	  install -o root -g root -m 644 man/ja/man1/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man1/$$man; \
	done; \
	done

# manpages for gfmd package
	for pkg in $(GFMD_PKG) $(GFMD_GSI_PKG); do \
	dh_installman -p$$pkg; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man8; \
	for man in $(GFMD_MAN8); do \
	  install -o root -g root -m 644 man/ja/man8/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man8; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man8/$$man; \
	done; \
	done

# manpages for gfarm-client package
	for pkg in $(CLIENT_PKG) $(CLIENT_GSI_PKG); do \
	dh_installman -p$$pkg; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	for man in $(GFARM_CLIENT_MAN1); do \
	  install -o root -g root -m 644 man/ja/man1/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man1/$$man; \
	done; \
	done

# manpages for gfarm-gfront package
	dh_installman -p$(GFRONT_PKG)
	install -d `pwd`/debian/$(GFRONT_PKG)/usr/share/man/ja/man1
	for man in $(GFRONT_MAN1); do \
	  install -o root -g root -m 644 man/ja/man1/$$man `pwd`/debian/$(GFRONT_PKG)/usr/share/man/ja/man1; \
	  gzip -f -9 `pwd`/debian/$(GFRONT_PKG)/usr/share/man/ja/man1/$$man; \
	done

# manpages for gfsd
	for pkg in $(GFSD_PKG) $(GFSD_GSI_PKG); do \
	dh_installman -p$$pkg; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	for man in $(GFSD_MAN1); do \
	  install -o root -g root -m 644 man/ja/man1/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man1; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man1/$$man; \
	done; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man8; \
	for man in $(GFSD_MAN8); do \
	  install -o root -g root -m 644 man/ja/man8/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man8; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man8/$$man; \
	done; \
	done

#	manpages for libgfarm-dev
	for pkg in $(LIBGFARM_DEV_PKG) $(DEV_GSI_PKG); do \
	dh_installman -p$$pkg; \
	install -d `pwd`/debian/$$pkg/usr/share/man/ja/man3; \
	for man in $(LIBGFARM_DEV_MAN3); do \
	  install -o root -g root -m 644 man/ja/man3/$$man `pwd`/debian/$$pkg/usr/share/man/ja/man3; \
	  gzip -f -9 `pwd`/debian/$$pkg/usr/share/man/ja/man3/$$man; \
	done; \
	done

# symlinks
	(cd ./debian/gfarm-client/usr/share/man/man1/; rm -f gfssh.1 gfsshl.1.gz gfrsh.1 gfrshl.1.gz; \
	ln -s gfrun.1.gz gfssh.1.gz; ln -s gfrun.1.gz gfsshl.1.gz; \
	ln -s gfrun.1.gz gfrsh.1.gz; ln -s gfrun.1.gz gfrshl.1.gz)
	(cd ./debian/gfarm-gsi-client/usr/share/man/man1/; rm -f gfssh.1.gz gfsshl.1.gz gfrsh.1.gz gfrshl.1.gz; \
	ln -s gfrun.1.gz gfssh.1.gz; ln -s gfrun.1.gz gfsshl.1.gz; \
	ln -s gfrun.1.gz gfrsh.1.gz; ln -s gfrun.1.gz gfrshl.1.gz)

# others
#	install -o root -g root -m 644 debian/man/gfregister.1 debian/gfarm-gfptool/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-gfptool/usr/share/man/man1/gfregister.1
#	install -o root -g root -m 644 debian/man/gfregister.1 debian/gfarm-gsi-gfptool/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-gsi-gfptool/usr/share/man/man1/gfregister.1

#	install -o root -g root -m 644 debian/man/gfsck.1 debian/gfarm-client/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-client/usr/share/man/man1/gfsck.1
#	install -o root -g root -m 644 debian/man/gfsck.1 debian/gfarm-gsi-client/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-gsi-client/usr/share/man/man1/gfsck.1

#	install -o root -g root -m 644 debian/man/ptool.1 debian/gfarm-client/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-client/usr/share/man/man1/ptool.1
#	install -o root -g root -m 644 debian/man/ptool.1 debian/gfarm-gsi-client/usr/share/man/man1/
#	gzip -f -9 debian/gfarm-gsi-client/usr/share/man/man1/ptool.1
#	(cd ./debian/gfarm-client/usr/share/man/man1/; \
#	ln -s ptool.1.gz prun.1.gz; ln -s ptool.1.gz pcp.1.gz; \
#	ln -s ptool.1.gz pcat.1.gz; ln -s ptool.1.gz pdel.1.gz; ln -s ptool.1.gz pdist.1.gz)
#	(cd ./debian/gfarm-gsi-client/usr/share/man/man1/; \
#	ln -s ptool.1.gz prun.1.gz; ln -s ptool.1.gz pcp.1.gz; \
#	ln -s ptool.1.gz pcat.1.gz; ln -s ptool.1.gz pdel.1.gz; ln -s ptool.1.gz pdist.1.gz)

#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
# dh_suidregister
	dh_installdeb
	dh_makeshlibs
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep 
.PHONY: build clean binary-indep binary-arch binary install configure
