#
# Sample configuration file of 'gfservice'.
#

##
## gfmd 1
##
gfmd1=md1.example.com
gfmd1_CONFIG_GFARM_OPTIONS="-r -X -A $LOGNAME"
# gfmd1_SSH=/usr/bin/ssh
# gfmd1_SUDO=/usr/bin/sudo
# gfmd1_GFBINDIR=/usr/local/bin
# gfmd1_GFARM2FS_BIN_PATH=/usr/local/bin
# gfmd1_PRIVATE_MODE=true

##
## gfmd 2
##
gfmd2=md2.example.com
gfmd2_CONFIG_GFARM_OPTIONS="-r -X -A $LOGNAME"
# gfmd2_SSH=/usr/bin/ssh
# gfmd2_SUDO=/usr/bin/sudo
# gfmd2_GFBINDIR=/usr/local/bin
# gfmd2_GFARM2FS_BIN_PATH=/usr/local/bin
# gfmd2_PRIVATE_MODE=true

##
## gfsd 1
##
gfsd1=sd1.example.com
gfsd1_CONFIG_GFSD_OPTIONS=
# gfsd1_SSH=/usr/bin/ssh
# gfsd1_SUDO=/usr/bin/sudo
# gfsd1_GFBINDIR=/usr/local/bin
# gfsd1_GFARM2FS_BIN_PATH=/usr/local/bin
# gfsd1_PRIVATE_MODE=true

##
## gfsd 2
##
gfsd2=sd2.example.com
gfsd2_CONFIG_GFSD_OPTIONS=
# gfsd2_SSH=/usr/bin/ssh
# gfsd2_SUDO=/usr/bin/sudo
# gfsd2_GFBINDIR=/usr/local/bin
# gfsd2_GFARM2FS_BIN_PATH=/usr/local/bin
# gfsd2_PRIVATE_MODE=true

##
## client 1
##
client1=cl1.example.com
# client1_SSH=/usr/bin/ssh
# client1_SUDO=/usr/bin/sudo
# client1_GFBINDIR=/usr/local/bin
client1_GFARM2FS_BIN_PATH=/usr/local/bin
#client1_GFARM_CONF=/usr/local/etc/gfarm2.conf

##
## client 2
##
client2=cl2.example.com
# client2_SSH=/usr/bin/ssh
# client2_SUDO=/usr/bin/sudo
# client2_GFBINDIR=/usr/local/bin
client2_GFARM2FS_BIN_PATH=/usr/local/bin
#client2_GFARM_CONF=/usr/local/etc/gfarm2.conf
